
  <h1>Getting started</h1>
  <h2>Here&rsquo;s how to get rolling:</h2>

  <ul>
    <li>
      <h2><a href="products" return false">Manage Products</a></h2>
    </li>

    <li>
      <h2><a href="product_deliveries" return false">View and Edit Deliveries</a></h2>
    </li>

        <table border="1">
            <tr>
                    <th>Product</th>
                    <th>Delivered Count</th>
            </tr>

            <% @product_delivery_summary.each do |key, value| %>
                <tr>
                    <td><%= key %></td>
                    <td><%= value %></td>
                </tr>
            <% end %>
            <!-- Give the total - span columns -->
            <tr><td colspan="2">Total Delivered: <%= @product_delivery_total %></td></tr>
        </table>
        <p></p>

    <li>
      <h2><a href="orders" return false">Enter Orders</a></h2>
    </li>

        <table border="1">
            <tr>
                    <th>Product</th>
                    <th>Orders Count</th>
                    <th>Product Remaining</th>
            </tr>

            <% @order_summary.each do |key, value| %>
                <tr>
                    <td><%= key %></td>
                    <td><%= value %></td>
                    <td>
                      <!-- Display the products left, calculated by the controller -->
                      <% @product_left.each do |plKey, plValue| %>
                        <% if key == plKey %> <%= plValue %> <% end %>
                      <% end %>
                    </td>
                </tr>
            <% end %>
            <tr><td colspan="3">Total Products Ordered: <%= @order_product_total %></td></tr>
        </table>
  </ul>

<div id="footer">&nbsp;</div>
